<form class="form create-target-profile" {{on "submit" @onSubmit}}>

  <section class="form-section">
    <span class="form__instructions">
      Les champs marqués de <abbr title="obligatoire" class="mandatory-mark">*</abbr> sont
      obligatoires.
    </span>

    <div class="form-field form-group">
      <label class="form-field__label" for="badgeKey">Key <abbr title="obligatoire" class="mandatory-mark">*</abbr> : </label>
      <Input class="form-control"
             @required="true"
             @id="badgeKey"
             @value={{@badge.key}} />
    </div>

    <div class="form-field form-group">
      <label class="form-field__label" for="badgeTitle">Nom <abbr title="obligatoire" class="mandatory-mark">*</abbr> : </label>
      <Input class="form-control"
             @required="true"
             @id="badgeTitle"
             @value={{@badge.title}} />
    </div>

    <div class="form-field form-group">
      <label class="form-field__label" for="badgeMessage">Message <abbr title="obligatoire" class="mandatory-mark">*</abbr> : </label>
      <Input class="form-control"
             @required="true"
             @id="badgeMessage"
             @value={{@badge.message}} />
    </div>

    <div class="form-field form-group">
      <label class="form-field__label" for="imageUrl">Lien de l'image :</label>
      <Input class="form-control"
              @id="imageUrl"
              @value={{@badge.imageUrl}} />
      <p class="form__instructions create-target-profile__instructions">L'url à saisir doit être celle d'OVH. Veuillez vous rapprocher des équipes tech et produit pour la réalisation de celle-ci.</p>
    </div>

    <div class="form-field form-group">
      <label class="form-field__label" for="altMessage">Texte alternatif à l'image :</label>
      <Input class="form-control"
              @id="altMessage"
              @value={{@badge.altMessage}} />
    </div>
  </section>

  <section class="form-section form-section--actions">
    <button class="form-action form-action--cancel btn btn-outline-default btn-thin" type="button" {{on "click" @onCancel}}>Annuler</button>
    <button class="form-action form-action--submit btn btn-success btn-thin" type="submit" disabled={{@isDisabled}}>Enregistrer</button>
  </section>
</form>
